//quantifications
$lightred:rgb(243, 114, 89);
$darkblack:rgb(51, 51, 51);
$lightgray:rgba(51, 51, 51, 0.9);
$white: rgb(255, 255, 255);
$waterwhite:rgba(255, 255, 255, .9);
@font-face {
    font-family: playfair;
    src: url("../fonts/playfair-display.bold-italic.ttf");
}

.fixed_main_navbar_style {
    display: none;
    background-color: $white;
    position: fixed !important;
    width: 100%;
    padding-top: 20px;
    margin-top: -195px;
    box-shadow: 0 10px 20px $darkblack !important;
    @media only screen and (max-width: 1199px) {
        height: 112px !important;
        margin-top: -277px !important;
        padding-top: 55px !important;
    }
    nav .nav_titles .titles a {
        color: $darkblack !important;
    }
}

.btn_style {
    width: fit-content;
    border: 1px solid rgb(184, 184, 184);
    padding: 7px;
    position: relative;
    cursor: pointer;
    &:hover a {
        color: $white;
    }
    &::before {
        content: '';
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(243, 115, 89, 0.808);
        transition: all 0.4s;
    }
    &:hover::before {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }
    &::after {
        content: '';
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.4s;
        background-color: $lightred;
        transform: scale(1.2, 1.2);
    }
    &:hover::after {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.img_hover {
    &::before {
        border-top: 2px solid $white;
        border-bottom: 2px solid $white;
        transform: scale(0, 1);
        position: absolute;
        top: 30px;
        right: 30px;
        bottom: 30px;
        left: 30px;
        content: '';
        opacity: 0;
        transition: all .3s ease-in-out;
    }
    &::after {
        border-right: 2px solid $white;
        border-left: 2px solid $white;
        transform: scale(1, 0);
        position: absolute;
        top: 30px;
        right: 30px;
        bottom: 30px;
        left: 30px;
        content: '';
        opacity: 0;
        transition: all .3s ease-in-out;
    }
}

@mixin slider_btns_style($bg_color,
$width,
$display,
$bg_color_on_hover) {
    display: $display;
    width: $width;
    margin: auto;
    background-color: $bg_color;
    border: 2px solid $lightred;
    transition: all 0.3s;
    padding: 10px 0;
    &:hover {
        cursor: pointer;
        background-color: $bg_color_on_hover;
    }
    a {
        text-transform: uppercase;
        color: $white;
        font-weight: bold;
        pad: 10px;
        text-decoration: none;
    }
}